@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
	background-color: #282c34;
	font-family: 'Quicksand', sans-serif;
}

.deletePrueba{
	background-color: pink;
	width: 200px;
	height: 30px;
	z-index: 1000;
    position: absolute;
	text-align: center;
}
.deletePrueba:hover{
	cursor: pointer;
}
.app_signIn{
	display: grid;
	grid-template-rows: 40% 40% 20%;
	align-items: center;
	justify-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
	background-color: #c42355;
}
.app_signIn h2{
	color: white;
	font-size: 30px;
	text-align: center;
}
.app_signInButton p{
	font-size: 20px;
}
.app_signInButton{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
}
.app_signIn_footer{
	font-size: 12px;
}
.App header {
	background-color: #EBFCFB;
	height: 10vh;
	min-height: 50px;
	color: black;
	position: fixed;
	width: 100%;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	box-sizing: border-box;
	z-index: 10;
}

.App section {
	flex-direction: column;
	justify-content: center;
	background-color: #c42355;
}

main{
	padding: 10px;
	height: 80vh;
	margin: 10vh 0 10vh;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}

main::-webkit-scrollbar {
	width: 0.25rem;
}

main::-webkit-scrollbar-track {
	background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
	background: #6649b8;
}

form {
	height: 10vh;
	position: fixed;
	bottom: 0;
	background-color: rgb(24, 23, 23);
	width: 100%;
	display: flex;
	font-size: 1.5rem;
}

form button {
	width: 20%;
	background-color: #2B4141;
}

input {
	line-height: 1.5;
	width: 100%;
	font-size: 1.5rem;
	background: #EBFCFB;
	color: #2B4141;
	outline: none;
	border: none;
	padding: 0 10px;
}

button {
	background-color: #282c34; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 1.25rem;
}

button:disabled {
	opacity: 1;
	cursor: not-allowed;
}

.sign-out{
	background-color: rgb(196 35 85);
	border-radius: 20px;
}
.sign-in{
	color: white;
	background: #282c34;
	border-radius: 15px;
	max-width: 400px;
	margin: 0 auto;
}
.sign-in:hover{
	cursor: pointer;
	filter: brightness(0.9);
}
.sign-in button{
	background-color: black;
}

ul, li {
	text-align: left;
	list-style: none;
}

p {
	max-width: 500px;
	margin-bottom: 12px;
	line-height: 24px;
	padding: 10px 20px;
	border-radius: 25px;
	position: relative;
	color: white;
	text-align: center;
}

.message {
	display: flex;
	align-items: center;
	margin: 5px 0;
}

.sent {
	flex-direction: row-reverse;	
}

.sent p {
	color: white;
	background: #282c34;
	align-self: flex-end;
}
.received p {
	background: #e5e5ea;
	color: black;
}
.logoScanda{
	width: 125px;
	height: 45px;
	border-radius: 0%;
	margin: 0;
}
img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 2px 5px;
}
.app_main{
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 80vh;
}
.app_main p{
	max-width: 100%;
}
.main_chat{
	height: 80vh;
}

@media all and (max-width: 900px)
{
	form button{
		width: 40%;
	}
}